{extend name="base" /}
{block name="main"}
<div class="container Wauto">
	<div class="sliderbox">
		<div class="slider">
			<div id="slideBox" class="slideBox">
				<ul id="slider">
					{ld:slide name="banner"}
					<li class="slide">
						<img src="{$item.image}" alt="{$item.title}"/>
						<div class="container slide-content text-center">
							{$item.content}
						</div>
					</li>
					{/ld:slide}
				</ul>
			</div>
		</div>
	</div>


	<div class="main w1200">
		<div class="article w1">
			<!--产品中心 s-->
			{ld:action action="home_block" model_table_name="product" alias="cate" }
			<div class="PostBox back2">
				<article class="post">
					<div class="postTitle anim fadeInUp">
						<h3><i class="fa fa-quote-left"></i>{$cate.name}</h3>
						<span class="title2">{$cate.subname}</span> </div>
					<div class="PostShow">
						<ul>
							{ld:list cid="$cate['id']" limit='4'}
							<li class="anim fadeInUp">
								<div class="post-img loading">
									<a class="pic float-left" href="{$item.url}" title="{$item.title}" rel="bookmark">
										<div class="msk"></div>
										<i class="fa fa-search"></i>
										<img class="b-lazy" src="{$item.image}" data-src="{$item.image}" alt="{$item.title}" />
									</a>
								</div>
								<a href="{$item.url}" title="{$item.title}">
									<h4>{$item.title}</h4>
									<i class="h2">{$item.seo_description}</i>
									<div class="pt-2">
										<i class="fa fa-long-arrow-right"></i>
									</div>
								</a>
							</li>
							{/ld:list}
						</ul>
					</div>
				</article>
			</div>
			{/ld:action}
			<!--产品中心 e-->

			<!--关于我们 s-->
			{ld:action action="home_block" model_table_name="page" alias="cate" }
			<div class="PostBox about">
				<article class="post">
					<div class="postAbout anim fadeInRight">
						<div class="postTitle">
							<h3><i class="fa fa-quote-left"></i>{$cate.name}</h3>
							<span class="title2">{$cate.subname}</span> </div>
						{ld:content cid="$cate['id']" }
						<div class="PostText"> {$content.seo_description} </div>
						<div class="more anim fadeInUp"><a href="{$content.url}"><span>{:__('View Details')} + </span></a></div>
						{/ld:content}
					</div>
					{ld:slide name="about"}
					<div class="aboutImg anim fadeInLeft"
						 style="background-image:url({$item.image})"></div>
					{/ld:slide}
				</article>
			</div>
			{/ld:action}
			<!--关于我们 e-->

			<!--案例展示 s-->
			{ld:action action="home_block" model_table_name="case" alias="cate"  }
			<div class="PostBox back1">
				<article class="post">
					<div class="postTitle anim fadeInUp">
						<h3><i class="fa fa-quote-left"></i>{$cate.name}</h3>
						<span class="title2">{$cate.subname}</span>
					</div>
					<div class="PostShow">
						<ul>
							{ld:list cid="$cate['id']" limit='4'}
							<li class="anim fadeInUp case-item">
								<div class="post-img loading">
									<a class="pic float-left" href="{$item.url}" title="{$item.title}" rel="bookmark">
										<div class="msk"></div>
										<i class="fa fa-search"></i>
										<img class="b-lazy" src="{$item.image}" data-src="{$item.image}" alt="{$item.title}" /> </a></div>
								<h4><a href="{$item.url}" title="{$item.title}">{$item.title|ld_str_cut=18}</a></h4>
							</li>
							{/ld:list}
						</ul>
					</div>
					<div class="more anim fadeInUp"><a href="{$cate['url']}"><span>{:__('View More')} + </span></a></div>
				</article>
			</div>
			{/ld:action}
			<!--案例展示 e-->

			<!--服务团队 s-->
			{ld:action action="home_block" model_table_name="team" alias="cate" }
			<div class="PostBox back3" style="background-image:url(__ADDON__/images/cbg.jpg)">
				<article class="post team">
					<div class="postTitle anim fadeInUp">
						<h3><i class="fa fa-quote-left"></i>{$cate.name}</h3>
						<span class="title2">{$cate.subname}</span> </div>
					<div class="PicBox">
						<div class="ImgBox">
							<ul class="slider2">
								{ld:list cid="$cate['id']" limit='4' flag='top'}
								<li class="anim fadeInUp">
									<div class="LiBox">
										<a href="{$item.url}" title="{$item.title}" rel="bookmark">
											<div class="post-img loading"><img src="{$item.image}" alt="{$item.title}" />
											</div>
											<div class="post-text"> <span>{$item.title}</span>
												<p>{$item.seo_description}</p>
											</div>
										</a> </div>
								</li>
								{/ld:list}
							</ul>
						</div>
					</div>
				</article>
			</div>
			{/ld:action}
			<!--服务团队 e-->

			<!--新闻中心 s-->
			{ld:action action="home_block" model_table_name="news" alias="cate" }
			<div class="PostBox back2">
				<article class="post news n1">
					<div class="postTitle anim fadeInUp">
						<h3><i class="fa fa-quote-left"></i>{$cate.name}</h3>
						<span class="title2">{$cate.subname}</span> </div>
					<div class="PostNews">
						<ul>
							{ld:list cid='$cate["id"]' limit='8'}
							<li class="anim fadeInUp">
								<div class="post-img loading">
									<a class="pic" href="{$item.url}" title="{$item.title}" rel="bookmark">
										<div class="msk"></div>
										<i class="fa fa-search"></i>
										<img class="b-lazy" src="{$item.image}"
											 data-src="{$item.image}" alt="{$item.title}" /> </a> </div>
								<h4><a href="{$item.url}" title="{$item.title}">{$item.title}</a></h4>
								<span class="time"><i class="fa fa-clock-o"></i> {$item.show_time} </span> <span><i
									class="fa fa-eye fa-fw"></i>{$item.visits}</span>
								<p>{$item.description|ld_str_cut="60"}</p>
							</li>
							{/ld:list}
						</ul>
					</div>
					<div class="more anim fadeInUp"><a href="{$cate.url}"><span>{:__('View More')} + </span></a></div>
				</article>
			</div>
			{/ld:action}
			<!--新闻中心 e-->
		</div>
	</div>
</div>
{/block}